<!-- /partials/head.html -->
<!-- JSON-LD Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "ContainersClub",
  "url": "https://containersclub.com/",
  "logo": "https://containersclub.com/images/cc_logo.png",
  "sameAs": [
    "https://www.facebook.com/profile.php?id=61586261378092",
    "https://x.com/containersclub",
    "https://www.linkedin.com/in/containers-club-82641a39b/"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer service",
    "email": "email-support@containersclub.com",
    "telephone": "+1-669-260-3819",
    "areaServed": "US",
    "availableLanguage": ["English"]
  }
}
</script>